openapi: 3.0.1
info:
  title: Trafficlog
  description: >-
    To consult the transactions, use the trafficlog-client application, or
    directly call trafficlog-server:    curl
    http://localhost:8080/transactions/sgw-prd-00
  version: '1.7'
servers:
  - url: 'http://myorganisation.be:8080'
    description: Generated server url
paths:
  '/transactions/{group}':
    get:
      tags:
        - transaction-controller-impl
      summary: Get Transactions
      description: 'Mapping for /{group}. Example: {@code /transactions/sgw-prd-00}..'
      operationId: getTransactions
      parameters:
        - name: group
          in: path
          required: true
          schema:
            type: string
        - name: date
          in: query
          required: false
          schema:
            type: string
        - name: time
          in: query
          required: false
          schema:
            type: string
        - name: host
          in: query
          required: false
          schema:
            type: string
        - name: method
          in: query
          required: false
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
        - name: serviceName
          in: query
          required: false
          schema:
            type: string
        - name: serviceNameExact
          in: query
          required: false
          schema:
            type: boolean
        - name: operation
          in: query
          required: false
          schema:
            type: string
        - name: clientIp
          in: query
          required: false
          schema:
            type: string
        - name: subject
          in: query
          required: false
          schema:
            type: string
        - name: duration
          in: query
          required: false
          schema:
            type: string
        - name: server
          in: query
          required: false
          schema:
            type: string
        - name: errorType
          in: query
          required: false
          schema:
            type: string
        - name: errorCode
          in: query
          required: false
          schema:
            type: string
        - name: id
          in: query
          required: false
          schema:
            type: string
        - name: organisation
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 25
        - name: scrollId
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: A Search Result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResult'
  '/transactions/{group}/{id}':
    get:
      tags:
        - transaction-controller-impl
      summary: Get Transaction detail
      description: >-
        Mapping for /{group}/{id}. Example: {@code
        /transactions/sgw-prd-00/b2ea9a5de53e5b0a02405011?index=...
      operationId: getTransaction
      parameters:
        - name: group
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: index
          in: query
          required: true
          schema:
            type: string
        - name: organisation
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionDetail'
  '/transactions/{group}/{id}/trace.txt':
    get:
      tags:
        - transaction-controller-impl
      summary: Get Trace
      description: 'Mapping for /{group}/{id}/trace.'
      operationId: getTrace
      parameters:
        - name: group
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: index
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
  '/transactions/{group}/{id}/analysis':
    get:
      tags:
        - transaction-controller-impl
      summary: Get Transaction detail analysis
      description: >-
        Mapping for /{group}/{id}/analusis. Example: {@code
        /transactions/sgw-prd-00/b2ea9a5de53e5b0a02405011/analysis?index=...
      operationId: getAnalysis
      parameters:
        - name: group
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: index
          in: query
          required: true
          schema:
            type: string
        - name: organisation
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionAnalyses'
  '/transactions/{group}/{correlationId}/zip':
    get:
      tags:
        - transaction-controller-impl
      summary: Get transaction file zip
      description: 'Mapping for /{group}/{correlationId}/zip.'
      operationId: getTransactionZipFiles
      parameters:
        - name: group
          in: path
          required: true
          schema:
            type: string
        - name: correlationId
          in: path
          required: true
          schema:
            type: string
        - name: index
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: return an array of bytes
          content:
            application/zip:
              schema:
                type: array
                items:
                  type: string
                  format: byte
  /environments:
    get:
      tags:
        - environment-controller-impl
      summary: Get environments
      description: >-
        Mapping for /{group}/services. Example: {@code
        /environments/sgw-prd-00/services}
      operationId: getEnvironments
      responses:
        '200':
          description: The list of services for the given environment.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  '/environments/{groupName}/services':
    get:
      tags:
        - environment-controller-impl
      summary: Get services
      description: >-
        Mapping for /{group}/services. Example: {@code
        /environments/sgw-prd-00/services}.
      operationId: getServices
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
        - name: groupName
          in: path
          required: true
          schema:
            type: string
        - name: organisation
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: The list of services for the given environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResourceServiceSummary'
  '/environments/{groupName}/servers':
    get:
      tags:
        - environment-controller-impl
      summary: Get servers
      description: >-
        Mapping for /{group}/services. Example: {@code
        /environments/sgw-prd-00/services}.
      operationId: getServers
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
        - name: groupName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The list of servers for the given environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResourceAvailabilityZone'
  /auth/token:
    get:
      tags:
        - auth-controller-impl
      summary: Get token
      operationId: token
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiToken'
components:
  schemas:
    SearchResult:
      type: object
      properties:
        totalItems:
          type: integer
          format: int64
        scrollId:
          type: string
        queryTime:
          type: string
        version:
          type: string
        username:
          type: string
        filterName:
          type: string
        next:
          type: string
          format: uri
        items:
          type: array
          items:
            $ref: '#/components/schemas/Summary'
    Summary:
      type: object
      properties:
        duration:
          type: integer
          format: int32
        index:
          type: string
        correlationId:
          type: string
        result:
          type: string
        host:
          type: string
        method:
          type: string
        status:
          type: string
        path:
          type: string
        service:
          type: string
        operation:
          type: string
        clientIp:
          type: string
        subject:
          type: string
        timestamp:
          type: string
        errorCode:
          type: string
        server:
          type: string
    Http:
      type: object
      properties:
        sslSubject:
          type: object
        status:
          type: integer
          format: int32
        method:
          type: string
        remotePort:
          type: string
        localAddr:
          type: string
        remoteAddr:
          type: string
        authSubjectId:
          type: string
        vhost:
          type: string
        wafStatus:
          type: integer
          format: int32
        bytesSent:
          type: integer
          format: int32
        bytesReceived:
          type: integer
          format: int32
        localPort:
          type: string
        statusText:
          type: string
        remoteName:
          type: string
        uri:
          type: string
    Interaction:
      type: object
      properties:
        request:
          $ref: '#/components/schemas/Request'
        response:
          $ref: '#/components/schemas/Response'
        status:
          type: string
    ProtocolInfo:
      type: object
      properties:
        http:
          $ref: '#/components/schemas/Http'
        sentHeader:
          type: string
        recvHeader:
          type: string
        recvPayload:
          type: object
        sentPayload:
          type: object
    Request:
      type: object
      properties:
        summary:
          type: string
        clientName:
          type: string
        clientIp:
          type: string
        method:
          type: string
        uri:
          type: string
        destination:
          type: string
        host:
          type: string
        port:
          type: string
        proxy:
          type: string
        serviceName:
          type: string
        operation:
          type: string
        subject:
          type: string
        headers:
          type: array
          items:
            type: string
        payload:
          type: string
    Response:
      type: object
      properties:
        status:
          type: integer
          format: int32
        duration:
          type: integer
          format: int32
        summary:
          type: string
        groupName:
          type: string
        instanceName:
          type: string
        localIp:
          type: string
        statusText:
          type: string
        headers:
          type: array
          items:
            type: string
        payload:
          type: string
    Stage:
      type: object
      properties:
        duration:
          type: integer
          format: int32
        percentage:
          type: integer
          format: int32
        name:
          type: string
        color:
          type: string
    TransactionAnalyses:
      type: object
      properties:
        analysisResolutionTime:
          type: integer
          format: int64
        rules:
          uniqueItems: true
          type: array
          items:
            type: string
        ruleError:
          type: string
        transactionAnalyses:
          type: array
          items:
            $ref: '#/components/schemas/TransactionAnalysis'
    TransactionAnalysis:
      type: object
      properties:
        description:
          type: string
        solution:
          type: string
        url:
          type: string
    TransactionDetail:
      type: object
      properties:
        correlationId:
          type: string
        timestamp:
          type: string
        host:
          type: string
        server:
          type: string
        subject:
          type: string
        finalStatus:
          type: string
        circuitPath:
          $ref: '#/components/schemas/TreeNode'
        overview:
          type: array
          items:
            $ref: '#/components/schemas/Stage'
        interactions:
          type: array
          items:
            $ref: '#/components/schemas/Interaction'
        protocolInfo:
          $ref: '#/components/schemas/ProtocolInfo'
        analyses:
          $ref: '#/components/schemas/TransactionAnalyses'
        trace:
          type: string
    TreeNode:
      type: object
      properties:
        expanded:
          type: boolean
        data:
          $ref: '#/components/schemas/TreeNodeData'
        children:
          type: array
          items:
            $ref: '#/components/schemas/TreeNode'
    TreeNodeData:
      type: object
      properties:
        status:
          type: string
        styleClass:
          type: string
        filterType:
          type: string
        name:
          type: string
        filterMessage:
          type: string
        timestamp:
          type: string
        execTime:
          type: integer
          format: int32
    CollectionResourceServiceSummary:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ServiceSummary'
        total:
          type: integer
          format: int64
    ServiceSummary:
      type: object
      properties:
        hits:
          type: integer
          format: int64
        name:
          type: string
    AvailabilityZone:
      type: object
      properties:
        name:
          type: string
        servers:
          type: array
          items:
            type: string
    CollectionResourceAvailabilityZone:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/AvailabilityZone'
        total:
          type: integer
          format: int64
    ApiToken:
      type: object
      properties:
        token:
          type: string
